__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
exports/c a c h e / 
 
 
 c a c h e / 
 
 e x p o r t s / S T R U X _ B I F U R C A T I N G _ C O R R I D O R _ T E S T _ 0 1 / 
 e x p o r t s / S T R U X _ D I A M O N D _ C O M P O N E N T _ T E S T _ 0 1 / 
 e x p o r t s / S T R U X _ S I E V E _ T E S T _ 0 1 / 
 e x p o r t s / S T R U X _ T E M P O R A L _ J I T T E R _ T E S T _ 0 1 / 
 e x p o r t s / S T R U X _ T R A N S P O R T _ G I F / 
 e x p o r t s / S T R U X _ T R A N S P O R T _ G I F _ V 2 / 
 
 # Local cache
cache/

# Generated benchmark exports
exports/STRUX_BIFURCATING_CORRIDOR_TEST_01/
exports/STRUX_DIAMOND_COMPONENT_TEST_01/
exports/STRUX_SIEVE_TEST_01/
exports/STRUX_TEMPORAL_JITTER_TEST_01/
exports/STRUX_TRANSPORT_GIF/
exports/STRUX_TRANSPORT_GIF_V2/

# Mission 09 generated individual plots
benchmarks/structural_fragility/figures/local_signature_09_*.png
!benchmarks/structural_fragility/figures/local_signature_09_panel.png
 
# Local SDSS datasets
datasets/sdss/*.csv
